{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIFEBE - DESCRIÇÃO IMAGENS</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css"
        integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css"
        integrity="sha512-sVSECYdnRMezwuq5uAjKQJEcu2wybeAPjU4VJQ9pCRcCY4pIpIw4YMHIOQ0CypfwHRvdSPbH++dA3O4Hihm/LQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css"
        integrity="sha512-tk4nGrLxft4l30r9ETuejLU0a3d7LwMzj0eXjzc16JQj+5U1IeVoCuGLObRDc3+eQMUcEQY1RIDPGvuA7SNQ2w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <h1><i class="fas fa-eye"></i> Descritor de imagens</h1>
    </div>
    <div class="container text-center">
        <h1 class="main-heading">TENHA DESCRIÇÕES DE SUAS IMAGENS DE FORMA FÁCIL!</h1>
        <form method="post" enctype="multipart/form-data" class="form-container">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn"><i class="fas fa-image"></i> Upload</button>
        </form>
        {% if uploaded_image_url %}
        <div class="image-container">
            <h4>Imagem Original:</h4>
            <img src="{{ uploaded_image_url }}" alt="Original Image" class="img-result">
            <div class="image-description">
                <h5>Descrição da Imagem:</h5>
                <p>{{ description }}</p>
                <audio controls>
                    <source src="{{ audio_url }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
        {% endif %}
    </div>
    <footer class="footer">
        <p>© Centro Universitário de Brusque - UNIFEBE 2024. Todos os direitos reservados.</p>
    </footer>
</body>

</html>
